<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="content" style="display: flex">
        <div style="flex: 30%">
        search form
        <form method="get" action={% url 'search_view' %}>
            <p>location
            <input name="location" /></p>
            <p>standard
            <input name="standard" /></p>
            <p><input type="submit" value="Search"></p>
        </form>
        </div>
        <div style="flex: 40%">
        {% for object in object_list %}
            <div style="border:1px solid black; padding: 10px">
            <p>{{ object.name }}</p>
            <p>{{ object.location }}</p>
            </div>
        {% endfor %}
        </div>
    </div>
</body>
</html>